Repository wvlet/airframe, pull requests merged in 2022-12, with the labels that each got.

#2602 airframe-http: Add Request.remoteAddress
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/package.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyBackendTest.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/package.scala
  airframe-http/src/main/scala/wvlet/airframe/http/Http.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMessage.scala
Labels: feature

#2603 airframe-grpc: Throw INVALID_ARGUMENT_U2 for request parse errors
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcRequestHandler.scala
Labels: enhancement

#2604 airframe-rpc: Add RPCMethod to RPCCallContext
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpClientIR.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/openapi/OpenAPIGenerator.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/HttpClientGeneratorTest.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/filter/HttpAccessLogFilter.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcRequestHandler.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcServiceBuilder.scala
  airframe-http-router/src/main/scala/wvlet/airframe/http/HttpAccessLogWriter.scala
  airframe-http-router/src/main/scala/wvlet/airframe/http/Router.scala
  airframe-http-router/src/main/scala/wvlet/airframe/http/router/Route.scala
  airframe-http-router/src/main/scala/wvlet/airframe/http/router/RouteMatcher.scala
  airframe-http-router/src/test/scala/wvlet/airframe/http/ApiRouterTest.scala
  airframe-http-router/src/test/scala/wvlet/airframe/http/RPCTest.scala
  airframe-http-router/src/test/scala/wvlet/airframe/http/RouterTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCMethod.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpLogs.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/RPCCallContext.scala
Labels: internal

#2607 airframe-sql: Fix resolveAttribute to keep column qualifier
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2609 airframe-sql: Resolve AllColumn(*) cont'd
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnalyzer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnonymizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/QuerySignatureTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/SQLAnonymizerTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/catalog/DataTypeParserTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/catalog/DataTypeTest.scala
Labels: internal

#2611 airframe-sql: Refine Union handling
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2610 airframe-sql: Add traverseExpressions, traverseUpExpressions
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/ExpressionTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/LogicalPlanTest.scala
Labels: feature

#2612 airframe-sql: Fix INTERSECT handling
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
Labels: bug

#2616 airframe-sql: Fix collectExpression() to cover nested plans
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
Labels: bug

#2625 airspec: Support shouldMatch { case _ => } assertion
  .github/release-drafter.yml
  airspec/src/main/scala/wvlet/airspec/spi/RichAsserts.scala
  airspec/src/test/scala/examples/ShouldBeTest.scala
  docs/airspec.md
Labels: doc, feature

#2629 airframe-sql: Fix SQL generation from resolved plan
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/CTEResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/SQLAnalyzerTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug

#2638 airframe-sql: Add DataType to Expression nodes
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/DataType.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/DataTypeParser.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlanPrinter.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/test/resources/wvlet/airframe/sql/catalog/types.txt
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/catalog/DataTypeTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/LogicalPlanTest.scala
Labels: feature

#2642 internal: Grouping airframe version updates into a single PR
  .scala-steward.conf
Labels: internal

#2644 internal: Record version number for Airframe updates
  .scala-steward.conf
Labels: internal

#2645 internal: Restrict coverage test scope
  .github/workflows/codecov.yml
Labels: internal

#2648 internal: Remove grouping of airframe updates
  .scala-steward.conf
Labels: internal

#2647 airframe-sql: Add RewriteRule to see TypeResolver behavior
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/Optimizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/RewriteRule.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnalyzer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: feature

#2652 airspec: #2163 Support async test for Rx[_]
  airspec/build.sbt
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTaskRunner.scala
  airspec/src/test/scala/examples/RxTest.scala
Labels: feature

#2651 airspec: #2637 Support selecting nested test specs
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecContextImpl.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecMatcher.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecSbtRunner.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTaskRunner.scala
  airspec/src/main/scala/wvlet/airspec/spi/AirSpecContext.scala
  airspec/src/test/scala/wvlet/airspec/runner/AirSpecMatcherTest.scala
  airspec/src/test/scala/wvlet/airspec/runner/NestTest.scala
  docs/airspec.md
Labels: doc, feature

#2649 airframe-sql: Fixes #2646 Resolve AllColumns inputs as ResolvedAttributes
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlanPrinter.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2655 airspec: Update doc
  docs/airspec.md
Labels: doc

#2657 airspec: Include scala-js-macrotas-executor explicitely for Scala.js
  airspec/build.sbt
Labels: bug, dependencies

#2653 airframe-sql: Fix qualifier resolution
  airframe-parquet/src/main/scala/wvlet/airframe/parquet/ParquetQueryPlanner.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/CTEResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/Optimizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/RewriteRule.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnalyzer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnonymizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/SQLAnalyzerTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/ExpressionTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/LogicalPlanTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
  build.sbt
Labels: bug, breaking

#2658 airframe-sql internal: Add ResolveAgregationTest and ResolveTestHelper
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLFormatter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/ResolveAggregationTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/ResolverTestHelper.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  build.sbt
Labels: internal, feature

#2663 airframe-sql: Fix the resolver of set relations
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2661 airframe-sql: Fix Expression.traverseExpression for Attribute nodes
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2659 airframe-sql internal: Remove redundant resolveAttribute
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/ResolveAggregationTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: doc, internal

#2666 airframe-grpc: Scala 3 support
  airframe-di/src/main/scala-3/wvlet/airframe/package.scala
  airframe-di/src/test/scala-3/wvlet/airframe/di/TraitFactoryTest.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcResponseHeaderInterceptor.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/GrpcContextTest.scala
  airframe-http-router/src/main/scala-3/wvlet/airframe/http/router/RouterBase.scala
  build.sbt
Labels: feature

#2668 airframe-http-codegen: Scala 3 support
  airframe-http-codegen/src/test/scala-2/wvlet/airframe/http/codegen/GenericServiceTest.scala
  airframe-http-codegen/src/test/scala/example/generic/GenericService.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/GrpcClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/HttpClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/RPCClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/openapi/OpenAPITest.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  build.sbt
Labels: feature

#2670 airframe-okhttp: Scala3 support prep. Remove Finagle from test dependency
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  airframe-http-okhttp/src/test/scala/wvlet/airframe/http/okhttp/OkHttpClientTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/ServerAddress.scala
  build.sbt
Labels: internal

#2591 airframe-http: Add RxFilter interface
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/package.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/RxNettyBackend.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxHttpBackend.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxOption.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxVar.scala
Labels: feature

#2677 airframe-http: Embed airframe-http-router project into airframe-http (JVM)
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpClientIR.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/RouteAnalyzer.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/HttpClientGeneratorTest.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/FinagleFilter.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/FinagleResponseHandler.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/FinagleServer.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcRequestHandler.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcServiceBuilder.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/example/DemoApi.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/example/DemoApiV2.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/example/Greeter.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyResponseHandler.scala
  airframe-http-router/src/test/scala/wvlet/airframe/http/InheritedEndpointTest.scala
  airframe-http/.jvm/src/main/scala-2/wvlet/airframe/http/router/RouterBase.scala
  airframe-http/.jvm/src/main/scala-2/wvlet/airframe/http/router/RouterMacros.scala
  airframe-http/.jvm/src/main/scala-3/wvlet/airframe/http/router/RouterBase.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/HttpAccessLogWriter.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Router.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/Automaton.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/ControllerProvider.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpEndpointExecutionContext.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpRequestDispatcher.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpRequestMapper.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/ResponseHandler.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/Route.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/RouteMatcher.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/ApiRouterTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/HttpRequestMapperTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/InheritedEndpointTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/LongPathTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/PathSequenceTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RPCTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RouterTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/example/AmbiguousPathExample.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/example/ControllerExample.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/example/LongPathExample.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/example/SharedPathPrefix.scala
  build.sbt
Labels: internal

#2674 airframe-sql: Fix resolveAggregationIndexes
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2675 airframe-sql: Fix SQLGenerator to add parentheses for sub-query in FROM clause properly
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug, feature

#2678 airframe-sql: Fix wrong column qualifying in Join
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug

#2680 airframe-sql: Further fix for resolveAggregationIndexes
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug
