Repository wvlet/airframe, pull requests merged in 2022-10, with the labels that each got.

#2492 openapi: Fixes #2491: Use YAML literal for multi-line strings and strings with single quote
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/openapi/SimpleOpenAPITest.scala
  airframe-json/src/main/scala/wvlet/airframe/json/YAMLFormatter.scala
  airframe-json/src/test/scala/wvlet/airframe/json/YAMLFormatterTest.scala
Labels: bug

#2494 Allow to specify JMX MBean property name explicitly
  airframe-jmx/src/main/scala/wvlet/airframe/jmx/JMX.java
  airframe-jmx/src/main/scala/wvlet/airframe/jmx/JMXMBean.scala
  airframe-jmx/src/test/scala/wvlet/airframe/jmx/JMXRegistryTest.scala
Labels: feature

#2499 Fix release script to prepare a target folder
  scripts/release.rb
Labels: bug

#2500 Upgrade airframe/airspec to 22.10.2
  build.sbt
  examples/rpc-examples/hello-rpc/build.sbt
  examples/rpc-examples/rpc-scalajs/build.sbt
  examples/rx-demo/gallery/build.sbt
  sbt-airframe/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc/build.sbt
Labels: library-update

#2501 Fix procedure syntax remaining in docs
  docs/airframe-di-legacy.md
  docs/airframe-di.md
Labels: bug, doc

#2505 Fix doc layout
  docs/airframe-ulid.md
Labels: doc

#2506 Update airframe-jmx doc to describe name attribute of JMX annotation
  airframe-jmx/src/test/scala/wvlet/airframe/jmx/JMXRegistryTest.scala
  docs/airframe-jmx.md
Labels: doc

#2507 Remove the generated modJVM and modJS definitions
  build.sbt
Labels: internal
