Repository wvlet/airframe, pull requests merged in 2022-11, with the labels that each got.

#2521 airframe-sql: Fixes table/relation alias handling in TypeResolver
  airframe-parquet/src/main/scala/wvlet/airframe/parquet/ParquetQueryPlanner.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/SQLAnalyzerTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2522 Ignore scala-xml version incompatibilities
  airspec/project/plugin.sbt
  examples/rpc-examples/hello-rpc/project/plugins.sbt
  examples/rpc-examples/rpc-scalajs/project/plugins.sbt
  examples/rx-demo/gallery/project/plugins.sbt
  sbt-airframe/project/plugin.sbt
Labels: internal

#2528 airframe-sql: Fix error message when no join key is found
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2547 airframe-sql: Fixes printing of resolved LogicalPlan nodes
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/Catalog.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug

#2546 Add node location to SQL tree nodes
  airframe-parquet/src/main/scala/wvlet/airframe/parquet/ParquetQueryPlanner.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/SQLError.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/CTEResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/InOutTableFinder.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/Optimizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnonymizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/Catalog.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/DataTypeParser.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlanPrinter.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/TreeNode.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLParser.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/SQLAnalyzerTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLParserTest.scala
Labels: feature

#2556 Include inputAttributes of all relations in UNION
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
Labels: bug

#2560 Notify a new snapshot version to Slack
  .github/workflows/snapshot.yml
Labels: internal

#2561 Fix Slack notification message
  .github/workflows/snapshot.yml
Labels: bug, internal

#2563 airframe-http: Return RPC exception for invalid requests
  airframe-http-router/src/main/scala/wvlet/airframe/http/router/HttpRequestMapper.scala
  airframe-http-router/src/main/scala/wvlet/airframe/http/router/Route.scala
Labels: bug

#2566 airframe-di: Deprecate toInstanceOf, toSingletonOf, toInstanceProvider, toSingletonProvider
  airframe-di/src/main/scala-2/wvlet/airframe/BinderImpl.scala
Labels: deprecation

#2567 openapi: Use stable component order
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/openapi/OpenAPIGenerator.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/openapi/SimpleOpenAPITest.scala
Labels: bug

#2568 internal: Notify snapshot release completion to Slack
  .github/release-drafter.yml
  .github/workflows/snapshot.yml
Labels: internal

#2574 internal: Update snapshot release message using a Slack thread
  .github/workflows/snapshot.yml
Labels: internal

#2539 Support PrefixedULID case class in ULID
  airframe-codec/src/main/scala/wvlet/airframe/codec/PrefixedULIDCodec.scala
  airframe-codec/src/main/scala/wvlet/airframe/codec/PrimitiveCodec.scala
  airframe-codec/src/test/scala/wvlet/airframe/codec/ScalaStandardCodecTest.scala
  airframe-ulid/src/main/scala/wvlet/airframe/ulid/PrefixedULID.scala
  airframe-ulid/src/main/scala/wvlet/airframe/ulid/ULID.scala
  airframe-ulid/src/test/scala/wvlet/airframe/ulid/PrefixedULIDTest.scala
  airframe-ulid/src/test/scala/wvlet/airframe/ulid/ULIDTest.scala
Labels: bug, feature

#2586 airframe-sql: Fix SQL generation for subquery in FROM clause
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug

#2587 airframe-sql: Fix duplicated join keys handling
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2588 airframe-sql: Fix SQL generation for SetOperation in FROM clause
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug

#2594 Add Breaking Changes column to release notes
  .github/release-drafter.yml
Labels: internal

#2593 airframe-codec: Closes #2437 Use key-value map output by default
  airframe-codec/src/main/scala/wvlet/airframe/codec/MessageCodecFactory.scala
  airframe-codec/src/test/scala/wvlet/airframe/codec/ObjectCodecTest.scala
Labels: breaking

#2595 Fix indent of release-drater config
  .github/release-drafter.yml
Labels: internal

#2597 airframe-sql: Prevent resolving Identifiers of column alias
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/CTEResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2598 airframe-sql: Resolve sub queries in FROM clause
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug
