Repository wvlet/airframe, pull requests merged in 2023-06, with the labels that each got.

#2998 fix: Create new expressions only when needed during transformations
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
Labels: bug

#3005 internal: Skip the release note push process
  docs/release-notes.md
  scripts/release.rb
Labels: doc, internal

#3001 Support sslmode parameter in PostgreSQL
  airframe-jdbc/src/main/scala/wvlet/airframe/jdbc/DbConfig.scala
  airframe-jdbc/src/main/scala/wvlet/airframe/jdbc/GenericConnectionPool.scala
  airframe-jdbc/src/test/scala/wvlet/airframe/jdbc/DbConfigTest.scala
Labels: feature

#3007 airframe-sql: Throw SQLError.RequirementFailed in internal assertions
  airframe-sql/src/main/scala/wvlet/airframe/sql/SQLError.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/FunctionCatalog.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/ExpressionTest.scala
Labels: internal

#3008 airframe-rx-html: Support implicit convertion to RxElement with import wvlet.airframe.rx.html.all.*
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/compat.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/HtmlRenderingTest.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/HtmlNode.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/RxElement.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/RxEmbedding.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/SvgTags.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/package.scala
  airframe-rx-html/src/test/scala/wvlet/airframe/rx/html/HtmlTest.scala
Labels: feature

#3009 airframe-http-netty: Fix internal class name"
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyRequestHandler.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
Labels: bug, internal

#3010 airframe-di: Fixes to register trait factories at all bindings in Scala 3
  airframe-di/src/main/scala-3/wvlet/airframe/BinderImpl.scala
  airframe-di/src/main/scala-3/wvlet/airframe/DesignImpl.scala
Labels: bug

#3011 internal: Fix release script
  scripts/release.rb
Labels: bug, internal

#3019 airspec: Fixes #3014 Do not evaluate tests returning Nil or Seq[_] before the execution
  airspec/src/main/scala-3/wvlet/airspec/AirSpecSpiCompat.scala
  airspec/src/test/scala/examples/SingleExecutionTest.scala
Labels: bug

#3021 sql (feature): Add DataType.unapply for reading with airframe-codec
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/DataType.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/catalog/DataTypeParserTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/catalog/DataTypeTest.scala
Labels: feature

#3022 doc: Add note on the usage of MiMa binary compatibility checker
  README.md
  build.sbt
Labels: doc

#3025 rx-html (fix): Fixes #3024. Remove appended attribute and CSS style values upon cancel
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/HtmlRenderingTest.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RxRenderingTest.scala
Labels: bug

#3023 control (internal): Use Jittering by default in Retry
  airframe-control/src/main/scala/wvlet/airframe/control/Retry.scala
Labels: internal

#3031 internal: Add more integration test
  airframe-integration-test-api/src/main/scala/wvlet/airframe/test/api/HelloRPC.scala
  airframe-integration-test/src/main/scala/wvlet/airframe/test/api/HelloRPCImpl.scala
  airframe-integration-test/src/test/scala/wvlet/airframe/test/api/HelloRPCTest.scala
Labels: internal

#3032 fix (rx-html): Fix attribute removal
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RxRenderingTest.scala
Labels: bug
