Repository wvlet/airframe, pull requests merged in 2023-01, with the labels that each got.

#2684 airframe-sql: Improve string representation of tree nodes
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
Labels: internal

#2690 airframe-sql: Index sort keys/grouping keys are wrongly resolved for AllColumns
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2698 airframe-sql: Support in-expression sub-query in traverse and transform
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/LogicalPlanTest.scala
Labels: feature

#2702 airframe-sql: Resolve multiple columns from UNION in sub-query
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2711 airframe-sql: Fix outputAttributes of join on using node
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2712 airframe-sql: Fix 'join key not found' error in self-join with USING
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2716 airframe-sql: Preserve GroupingKey indexes
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: internal

#2717 airframe-sql: Preserve qualifiers given in SingleColumn
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug
