Repository wvlet/airframe, pull requests merged in 2023-08, with the labels that each got.

#3086 airspec (feature): Add initDesign and initLocalDesign for configuring test designs
  airspec/src/main/scala/wvlet/airspec/AirSpec.scala
  airspec/src/test/scala/examples/CustomDesignTest.scala
  docs/airspec.md
Labels: doc, feature

#3087 rpc (fix): Set missing Accept header for RPC requests
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/client/RPCHttpClientTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientConfig.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientFactory.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-integration-test/src/test/scala/wvlet/airframe/test/api/HelloRPCTest.scala
Labels: bug

#3089 rx (feature): Support join/zip upto 5 elements
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
Labels: feature

#3088 rx (feature): Support Rx.flatMap(A => RxOption[B])
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
Labels: feature

#3090 http (internal): Add StaticContent server test for Netty backend
  airframe-http-netty/src/test/resources/static/index.html
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/StaticContentTest.scala
Labels: internal

#3092 rx (feature): Support mixing Rx and RxOption
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxOption.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxOpsTest.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
Labels: feature

#3093 rx-html (internal): Reduce the memory consumption of RenderingContext
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/RxElement.scala
Labels: internal

#3094 rx (internal): Test the behavior difference of Rx.single (lazy) and Rx.const (immediate)
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxSingleTest.scala
Labels: internal

#3100 http-codegen (internal): Add a test for OpenAPI required parameters
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/openapi/OpenAPIGenerator.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/openapi/OpenAPIDefaultValueTest.scala
Labels: internal

#3101 sbt-airframe (fix): Remove unused import Future from generated RPC clients
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/RPCClientGenerator.scala
Labels: bug

#3106 airspec (feature): Bundle schalacheck 1.17.0 as a dependency
  airspec/build.sbt
  docs/airspec.md
Labels: doc, feature

#3107 Upgrade airspec to 23.8.0
  airframe-codec/src/test/scala/wvlet/airframe/codec/PrimitiveCodecTest.scala
  airframe-http-codegen/src/test/scala/example/grpc/Streaming.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/ClassScannerTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/GrpcStreamingClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/LegacyRPCClientGeneratorTest.scala
  build.sbt
  sbt-airframe/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-finagle/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/build.sbt
Labels: test-library-update

#3108 openapi (internal): Do not use runtime-reflection in UnionCodec to fix flaky tests
  airframe-codec/src/main/scala-3/wvlet/airframe/codec/ScalaCompat.scala
  airframe-codec/src/main/scala/wvlet/airframe/codec/MessageCodecFinder.scala
  airframe-codec/src/main/scala/wvlet/airframe/codec/UnionCodec.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/openapi/OpenAPI.scala
  airframe-http-codegen/src/test/scala-2/wvlet/airframe/http/codegen/GenericServiceTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/GrpcClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/HttpClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/openapi/OpenAPIDefaultValueTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/openapi/OpenAPITest.scala
  build.sbt
Labels: bug, internal

#3110 codec (internal): Use inline methods instead of macros
  airframe-codec/.jvm/src/main/scala-3/wvlet/airframe/codec/CompatBase.scala
  airframe-codec/src/main/scala-3/wvlet/airframe/codec/ScalaCompat.scala
Labels: internal

#3111 internal: Fix Scala 3 related warnings
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/ServiceAsyncClient.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/ServiceSyncClient.scala
  airframe-codec/src/main/scala/wvlet/airframe/codec/ThrowableCodec.scala
  airframe-control/.jvm/src/main/scala/wvlet/airframe/control/Shell.scala
  airframe-di/src/main/scala-3/wvlet/airframe/package.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/FinagleClient.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttp.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientBackend.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/HttpClientTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/HttpClient.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/HttpClientBase.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpClientException.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientBackend.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-jmx/src/main/scala/wvlet/airframe/jmx/JMXRegistry.scala
  airframe-metrics/src/main/scala/wvlet/airframe/metrics/ElapsedTime.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/catalog/DataType.scala
  airframe-surface/.jvm/src/main/scala-2/wvlet/airframe/surface/reflect/RuntimeeGenericSurface.scala
Labels: bug, internal

#3112 internal: Embed JUnit test report detail to the summary and disable check run
  .github/workflows/test.yml
Labels: internal

#3113 rx (fix): Avoid concurrent modification of RxVar subscribers
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpChannel.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/package.scala
  airframe-http-okhttp/src/test/scala/wvlet/airframe/http/okhttp/OkHttpTest.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxVar.scala
Labels: bug

#3115 log (internal): [Scala 3] Use only inline methods for logging
  airframe-log/src/main/scala-3/wvlet/log/LoggerBase.scala
  airframe-log/src/main/scala/wvlet/log/LogRecord.scala
  airframe-log/src/main/scala/wvlet/log/LogSource.scala
Labels: internal

#3116 internal: Rename master branch to main
  .github/workflows/codecov.yml
  .github/workflows/doc.yml
  .github/workflows/package-test.yml
  .github/workflows/sbt-integration.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
  README.md
  airframe-log/README.md
  airspec/README.md
  docs/airframe-control.md
  docs/airframe-di-legacy.md
  docs/airframe-di.md
  docs/airframe-http.md
  docs/airframe-log.md
  docs/airframe-parquet.md
  docs/airframe-rpc.md
  docs/airframe-rx.md
  docs/airframe-ulid.md
  docs/airspec.md
  docs/comparison.md
  docs/index.md
  docs/release-notes.md
  sbt-airframe/README.md
  scripts/publish.sh
  scripts/publishMicrosite.sh
  scripts/release.rb
Labels: doc, internal

#3119 rx-html (fix): Properly call onMount hook when internal Rx is updated
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RxRenderingTest.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/RxElement.scala
Labels: bug, internal

#3121 rx-html (feature): Enable logging in RxElements with info/debug/trace, etc.
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/RxElement.scala
  airframe-rx-html/src/test/scala/wvlet/airframe/rx/html/RxElementTest.scala
Labels: feature

#3122 internal: Use AIRSPEC_VERSION file to specify airspec version
  AIRSPEC_VERSION
  build.sbt
  sbt-airframe/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-finagle/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/build.sbt
Labels: internal

#3123 airspec (fix): Async test failed to run RxOps
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTaskRunner.scala
Labels: bug

#3127 Upgrade to airspec 23.8.2
  .github/workflows/sbt-integration.yml
  .github/workflows/test.yml
  AIRSPEC_VERSION
Labels: test-library-update

#3134 rx (feature) Add Rx.tap, tapOn, tapOnFailure for adding side-effect
  airframe-http/src/test/scala/wvlet/airframe/http/client/RPCErrorHandlingTest.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxSideEffectTest.scala
Labels: feature

#3135 rx (feature): Add Rx.mapToRx as an alias of flatMap
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxMapTest.scala
Labels: feature

#3136 http (internal): Rename BuildInfo to AirframeBuildInfo
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/GrpcClientInterceptor.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/internal/GrpcRequestLogger.scala
  build.sbt
Labels: internal

#3137 internal: Use Scala 3 by default for sbt and IntelliJ
  .github/workflows/codecov.yml
  .github/workflows/test.yml
  README.md
  build.sbt
  project/plugin.sbt
Labels: doc, internal

#3138 internal (fix): Collect coverage report xml files properly
  .github/workflows/codecov.yml
  build.sbt
Labels: bug, internal

#3139 internal: Resolve sbt warnings for ideSkipProject usage
  build.sbt
Labels: internal

#3140 http (fix): Handle RPCException thrown in local web apps
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-http/src/test/scala/wvlet/airframe/http/client/RPCErrorHandlingTest.scala
Labels: bug

#3146 surface (fix): Reduce generated code size for MethodSurface in Scala 3
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/RecursiveSurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/SurfaceTest.scala
Labels: bug

#3148 surface (fix): Reduce the generated code size of Surface.methodOf in Scala 3
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  build.sbt
Labels: bug

#3154 Update AirSpec to 23.8.4
  AIRSPEC_VERSION
Labels: test-library-update

#3155 rpc (fix): Use lazy val for generated RPCMethod to avoid xxxInternals$.<clinit> is too large error
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/RPCClientGenerator.scala
Labels: bug

#3169 airspec (internal): Remove unnecessary return type Surface.of[R] generation
  airspec/src/main/scala-2/wvlet/airspec/AirSpecMacros.scala
  airspec/src/main/scala-2/wvlet/airspec/AirSpecSpiCompat.scala
  airspec/src/main/scala-3/wvlet/airspec/AirSpecSpiCompat.scala
  airspec/src/main/scala/wvlet/airspec/AirSpecDef.scala
Labels: internal

#3179 finagle (fix): Properly set http method and path parameters in convertToFinagleRequest
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/package.scala
  airframe-http-finagle/src/test/scala/wvlet/airframe/http/finagle/FinagleTest.scala
Labels: bug
