Repository wvlet/airframe, pull requests merged in 2023-05, with the labels that each got.

#2909 airframe-http: Support reading REST endpoints with RPC clients
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpClientIR.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/RPCClientGenerator.scala
  build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/server/src/main/scala/myapp/server/MyServer.scala
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/spi/src/main/scala/myapp/spi/MyRPC.scala
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/spi/src/main/scala/myapp/spi/MyService.scala
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/test
  sbt-airframe/src/sbt-test/sbt-airframe/openapi/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/openapi/test
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-finagle/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/test
Labels: feature

#2910 airframe-surface: Resolve Any type properly in Scala 3
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/HttpClientGenerator.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/RPCClientGeneratorTest.scala
  airframe-surface/src/main/scala-2/wvlet/airframe/surface/SurfaceMacros.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/MethodSurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/SurfaceTest.scala
  build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/build.sbt
Labels: bug

#2912 airframe-http: Add a standard HTTP client/server logging
  airframe-http-finagle/src/test/scala/wvlet/airframe/http/finagle/RPCErrorHandlingTest.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/Compat.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Compat.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/internal/LogRotationHttpLogger.scala
  airframe-http/src/main/scala/wvlet/airframe/http/CompatApi.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpLogger.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMultiMap.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCException.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCStatus.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientConfig.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientFactory.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientLoggingFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpLogs.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpServerLoggingFilter.scala
  airframe-http/src/test/scala/wvlet/airframe/http/client/HttpClientLoggingFilterTest.scala
Labels: feature

#2915 airframe-log: Fixes #2914 Could not load Logmanager "wvlet.log.AirframeLogManager" warning
  airframe-di/.jvm/src/main/scala/wvlet/airframe/lifecycle/AddShutdownHook.scala
  airframe-log/.jvm/src/main/scala/wvlet/log/LogEnv.scala
  airframe-log/src/main/scala/wvlet/log/LogEnvBase.scala
  airframe-log/src/main/scala/wvlet/log/Logger.scala
  sbt-airframe/build.sbt
Labels: bug

#2916 airframe-http-netty: Report RPC arg logs
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyRPCContext.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCContext.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpLogs.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpServerLoggingFilter.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/build.sbt
Labels: feature

#2918 airframe-rx: Separte Rx and RxOption interfaces
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpClientIR.scala
  airframe-http-codegen/src/test/scala/example/grpc/Streaming.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/package.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/GrpcClient.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/GrpcClientCalls.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/GrpcErrorLogTest.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/GrpcRequestLoggerTest.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/example/DemoApi.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/example/DemoApiV2.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyBackend.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-okhttp/src/test/scala/wvlet/airframe/http/okhttp/OkHttpClientTest.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorder.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorderServer.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSHttpAsyncClientTest.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSRPCClientTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/client/JavaAsyncClientTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxHttpEndpoint.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxHttpFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpLogs.scala
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RxRenderingTest.scala
  airframe-rx-html/src/test/scala/wvlet/airframe/rx/html/RxElementTest.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxOption.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxSource.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxVar.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxCacheTest.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
  build.sbt
  examples/rpc-examples/rpc-scalajs/ui/src/main/scala/example/ui/ExampleUI.scala
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/api/src/main/scala/example/api/GreeterApi.scala
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/server/src/test/scala/example/api/GreeterApiTest.scala
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-finagle/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/build.sbt
Labels: breaking

#2924 airframe-http-netty: Fix empty response handling
  airframe-codec/src/main/scala/wvlet/airframe/codec/MessageCodec.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyResponseHandler.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRPCServerTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
Labels: bug

#2925 airfame-http-netty: Safe-guard for double start/stop
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyServerTest.scala
Labels: kaizen

#2926 airframe-json: Fix parsing a single '0' with JSON.parseAny
  airframe-json/src/main/scala/wvlet/airframe/json/JSONScanner.scala
  airframe-json/src/test/scala/wvlet/airframe/json/JSONParserTest.scala
Labels: bug

#2932 internal: Fix PR auto-labler so as not to mark to 'add' keyword
  .github/release-drafter.yml
  .github/release.yml
Labels: internal

#2934 airframe-surface: Fix #2928 to Surface.ofClass(case object cls) in Scala 3
  airframe-integration-test-api/src/main/scala/wvlet/airframe/test/api/HelloRPC.scala
  airframe-integration-test/src/main/scala/wvlet/airframe/test/api/HelloRPCImpl.scala
  airframe-integration-test/src/test/scala/wvlet/airframe/test/api/HelloRPCTest.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/reflect/TastySurfaceFactory.scala
  airframe-surface/.jvm/src/test/scala-3/wvlet/airframe/surface/reflect/TastySurfaceFactoryTest.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
Labels: bug

#2935 sbt-airframe: Add airframeHttpOutDir option for changing the client output directory
  sbt-airframe/src/main/scala/wvlet/airframe/sbt/http/AirframeHttpPlugin.scala
Labels: feature

#2936 sbt-airframe: Regenerate RPC clients upon API change without reload
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpCodeGenerator.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Router.scala
  sbt-airframe/build.sbt
  sbt-airframe/src/main/scala/wvlet/airframe/sbt/http/AirframeHttpPlugin.scala
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/generate-client/test
Labels: feature

#2937 Upgrade to sbt-sonatype 3.9.20
  project/plugin.sbt
Labels: sbt-plugin-update

#2942 airframe-surface: An attempt to fix fullLinkJS error
  airframe-surface/src/main/scala/wvlet/airframe/surface/Surfaces.scala
Labels: bug

#2943 airframe-http: Improve client code refresh check
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpCodeGenerator.scala
Labels: bug

#2944 airframe-http-netty: Fixes #2938 Handle RPC status and exception at RPCResponseFilter
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxFilterTest.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxRPCServerTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpClientException.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMessage.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCException.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/RPCLoggingFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/RPCResponseFilter.scala
Labels: bug

#2945 internal: Add default http client performance test in the benchmark
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/HttpBenchmark.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/netty/RPCNetty.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/netty_simple/NettyHttp.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
Labels: internal

#2949 internal: Enable MiMa with communityBuild/mimaReportBinaryIssues
  build.sbt
  project/plugin.sbt
Labels: internal

#2959 internal: Remove no longer used release-drafter config
  .github/release-drafter.yml
Labels: internal

#2957 internal: Add request bench
  airframe-benchmark/README.md
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/grpc_java/GrpcJava.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/HttpBenchmark.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/ServiceAsyncClient.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http_request/RPCRequestBenchmark.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/rpc_finagle/AirframeFinagle.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/rpc_grpc/AirframeGrpc.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/rpc_netty/RPCNetty.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
Labels: doc, internal

#2961 airframe-codec: 3-5x Improvement of the codec lookup performance of MessageCodecFactory
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http_request/RPCRequestBenchmark.scala
  airframe-codec/src/main/scala/wvlet/airframe/codec/MessageCodecFactory.scala
Labels: feature

#2962 internal: Add http response builder benchmark
  airframe-benchmark/README.md
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/rpc_finagle/AirframeFinagle.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/rpc_request/RPCRequestBenchmark.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  build.sbt
Labels: doc, internal

#2966 internal: Auto-label PRs from forks
  .github/workflows/release-drafter.yml
Labels: internal

#2964 fix(sql): Improve quotation handling
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/resources/wvlet/airframe/sql/standard/queries.yml
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2980 internal: Recover disabled sbt-airframe scripted test
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/server/src/test/scala/example/MyRPCTest.scala
Labels: internal

#2983 fix: Various fixes to make http-recorder usable again.
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/HttpMessageTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMessage.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RedirectToRxEndpoint.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/CustomEndpointTest.scala
Labels: bug

#2990 fix(grpc) #2883: Scala 3 grpc support works with the latest airframe
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/build.sbt
Labels: bug, feature
