Repository wvlet/airframe, pull requests merged in 2023-03, with the labels that each got.

#2780 airframe-log: Fixes #2777 Use the default System.err for supporting sbtn
  airframe-log/.jvm/src/main/scala/wvlet/log/LogEnv.scala
Labels: bug, feature

#2781 airframe-log: Fixes #2779 Suppress stacktrace when reloading LogManager
  airframe-log/.jvm/src/main/scala/wvlet/log/LogEnv.scala
  airframe-log/.jvm/src/test/scala/wvlet/log/io/ResourceTest.scala
Labels: bug

#2782 airframe-sql: Fixes AllColumn qualifier parser
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2786 airspec: Fixes #2426 Enable object matcher test for Scala 3.2.2+
  airspec/.js/src/test/scala/jsexamples/JSMatcherTest.scala
Labels: bug

#2800 airframe-log: Fixes #2676 flaky test of AsyncHandler
  airframe-log/.jvm/src/main/scala/wvlet/log/AsyncHandler.scala
  airframe-log/.jvm/src/test/scala/wvlet/log/AsyncHandlerTest.scala
  airframe-log/src/main/scala/wvlet/log/Handler.scala
  airframe-log/src/test/scala/wvlet/log/LoggerTest.scala
Labels: internal

#2801 airframe-sql: Fixes #2791 Produce valid SQL expressions from FunctionCall, ComparisonOperators
  airframe-parquet/src/main/scala/wvlet/airframe/parquet/ParquetQueryPlanner.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLParser.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/SQLExprTest.scala
Labels: bug

#2803 airframe-sql: Fix full qualified column name handling
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2808 airframe-sql: Remove unnecessary context parameter in TypeResolver
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
Labels: internal

#2816 ci(Mergify): configuration update
  .mergify.yml
Labels: internal
