Repository wvlet/airframe, pull requests merged in 2023-04, with the labels that each got.

#2819 airframe-sql: Fix equi self-join
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2824 JDK20 Support
  .github/workflows/test.yml
Labels: feature

#2830 airframe-sql: Support SUBSTRING
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/resources/wvlet/airframe/sql/standard/queries.yml
Labels: feature

#2833 [internal] Automatically generate release notes
  .github/release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-note.yml
  README.md
Labels: doc, internal

#2836 fix(airframe-sql): Case should be ignored when resolving identifiers
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#2434 Upgrade to Node.js 18
  .github/workflows/test.yml
  scripts/setup-scalajs.sh
Labels: feature

#2689 airframe-http: Add a new RxRouter interface for Scala and Scala.js
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Router.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RxRouterConverterTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/router/RxRouterMacros.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxEndpoint.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxRPC.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RxRouter.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/RxRouterTest.scala
Labels: feature

#2852 airframe-surface: Sort MethodSurface alphabetically
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
Labels: internal

#2851 airframe-rpc: [internal] Remove RxRPC interface
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/Greeter.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpClientIR.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpCodeGenerator.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/FinagleServer.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxRPCServerTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RxRouterConverterTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxRPC.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/RxRouterTest.scala
Labels: internal

#2853 airframe-netty: Support RxFilter
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyBackend.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxFilterTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpRequestDispatcher.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpBackend.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
Labels: feature

#2856 airframe-http: [internal] Use type-safe router generation
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/RouteScanner.scala
Labels: internal

#2858 airframe-http: Build Router at runtime using RxRouterProvider for Scala 3 support
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpCodeGenerator.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/RouteScanner.scala
  airframe-http-codegen/src/test/scala/example/nested/v1/MyApi.scala
  airframe-http-codegen/src/test/scala/example/nested/v2/MyApi.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/NestedApiTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/RPCClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/RxRouterProviderTest.scala
  airframe-http-grpc/src/test/scala/wvlet/airframe/http/grpc/GrpcErrorLogTest.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxFilterTest.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxRPCServerTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Router.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RPCCustomPathTest.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RxRouterConverterTest.scala
Labels: feature

#2860 airframe-surface: Fix Surface.of[X] for generated RPC clients
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/RPCClientBindingTest.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
Labels: bug

#2861 airframe-log: Do not show stacktrace when wvlet.log.AirframeLogManager is missing
  airframe-log/.jvm/src/main/scala/wvlet/log/LogEnv.scala
Labels: bug

#2671 airframe-http-recorder: Scala 3 support
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NetthRequestHandler.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyBackend.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecord.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecordStore.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorder.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorderServer.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRequestMatcher.scala
  airframe-http-recorder/src/test/scala/wvlet/airframe/http/recorder/HttpRecorderTest.scala
  airframe-http-recorder/src/test/scala/wvlet/airframe/http/recorder/PathOnlyMatcherTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Router.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpEndpointExecutionContext.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpRequestDispatcher.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/Route.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpBackend.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpClientConfig.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpHeader.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMessage.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxEndpoint.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RedirectToRxEndpoint.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RxRouter.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/CustomEndpointTest.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/RxRouterTest.scala
  build.sbt
  docs/airframe-http-recorder.md
Labels: feature, breaking

#2865 airframe-okhttp: Scala 3 support
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttp.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpChannel.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpClient.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpRetryInterceptor.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/package.scala
  airframe-http-okhttp/src/test/scala/wvlet/airframe/http/okhttp/OkHttpClientTest.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSClientChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaClientChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMessage.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  build.sbt
Labels: feature, breaking

#2871 airspec: Add flaky { ... } block to skip flaky tests
  airspec/src/main/scala/wvlet/airspec/spi/Asserts.scala
  airspec/src/test/scala/examples/FlakyBlockTest.scala
  docs/airspec.md
Labels: doc, feature

#2872 airspec: #2857 Add shouldContain, shouldNotContain matcher
  airspec/src/main/scala/wvlet/airspec/spi/RichAsserts.scala
  airspec/src/test/scala/examples/ShouldContainTest.scala
  docs/airspec.md
Labels: feature

#2873 airspec: #2870 Change test(design = ...) parameter to Design => Design
  airspec/src/main/scala-2/wvlet/airspec/AirSpecSpiCompat.scala
  airspec/src/main/scala-3/wvlet/airspec/AirSpecSpiCompat.scala
  airspec/src/main/scala/wvlet/airspec/AirSpec.scala
  airspec/src/main/scala/wvlet/airspec/AirSpecDef.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecContextImpl.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTaskRunner.scala
  airspec/src/test/scala/examples/F0Spec.scala
  airspec/src/test/scala/examples/TestSyntaxSpec.scala
  docs/airspec.md
Labels: doc, feature, breaking

#2874 airframe-http: Rename RxFilter/Endpoint to RxHttpFilter/Endpoint
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyBackend.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxFilterTest.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorder.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorderServer.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/HttpRequestDispatcher.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/Route.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RxRouterConverterTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/router/RxRouterMacros.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/router/RxRouterBase.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpBackend.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxHttpEndpoint.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxHttpFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RedirectToRxEndpoint.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RxRouter.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/CustomEndpointTest.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/RxRouterTest.scala
Labels: breaking

#2875 airframe-http: Use Rx interface for async HTTP clients
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/ServiceAsyncClient.scala
  airframe-control/.js/src/main/scala/wvlet/airframe/control/Compat.scala
  airframe-control/.jvm/src/main/scala/wvlet/airframe/control/Compat.scala
  airframe-control/src/main/scala/wvlet/airframe/control/Retry.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/RouteScanner.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/HttpClientGenerator.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/RPCClientGenerator.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/client/ScalaHttpClientGenerator.scala
  airframe-http-codegen/src/test/scala-2/wvlet/airframe/http/codegen/GenericServiceTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/HttpClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/NestedApiTest.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/Finagle.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpChannel.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSClientChannel.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/js/JSHttpClient.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSHttpAsyncClientTest.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSRPCClientTest.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/js/JSHttpClientTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaClientChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/URLConnectionChannel.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/client/JavaAsyncClientTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/client/HttpClientCompat.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/client/HttpClientCompat.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpClient.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/ClientFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/ClientLoggingFilter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-http/src/test/scala/wvlet/airframe/http/client/ClientLoggingFilterTest.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTransformTest.scala
  airframe-surface/.jvm/src/main/scala-2/wvlet/airframe/surface/package.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/package.scala
  build.sbt
  docs/airframe-rpc.md
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/build.sbt
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/client/src/main/scala/myspp/client/Main.scala
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/spi/src/main/scala/myspp/spi/MyService.scala
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/test
Labels: doc, feature, deprecation, breaking

#2877 Fix RPC examples
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  examples/rpc-examples/rpc-scalajs/README.md
  examples/rpc-examples/rpc-scalajs/api/src/main/scala/example/api/HelloApi.scala
  examples/rpc-examples/rpc-scalajs/build.sbt
  examples/rpc-examples/rpc-scalajs/project/plugins.sbt
  examples/rpc-examples/rpc-scalajs/server/src/main/scala/example/server/ServerMain.scala
  examples/rpc-examples/rpc-scalajs/ui/src/main/scala/example/ui/ExampleUI.scala
  examples/rpc-examples/rpc-scalajs/ui/src/main/scala/example/ui/RPCService.scala
Labels: bug, doc

#2881 airframe-http: More async client support
  airframe-control/src/main/scala/wvlet/airframe/control/Retry.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpChannel.scala
  airframe-http-okhttp/src/test/scala/wvlet/airframe/http/okhttp/OkHttpClientTest.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientBackend.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientChannel.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSRPCClientTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaClientChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/URLConnectionChannel.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/client/JavaAsyncClientTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/client/HttpClientCompat.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClients.scala
  airframe-http/src/test/scala/wvlet/airframe/http/client/ClientLoggingFilterTest.scala
  airframe-rx/.jvm/src/main/scala/wvlet/airframe/rx/RxBlockingQueue.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
Labels: bug, feature

#2882 airspec: Support async flaky tests for Rx and Future
  airspec/src/main/scala/wvlet/airspec/spi/Asserts.scala
  airspec/src/test/scala/examples/FlakyBlockTest.scala
Labels: feature

#2885 airframe-http-netty: Add NettyServer.awaitTermination
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRPCServerTest.scala
Labels: feature

#2889 Upgrade to airspec 23.4.6 to fix flaky tests
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSHttpAsyncClientTest.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSRPCClientTest.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/IntervalTest.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
  build.sbt
Labels: internal, test-library-update

#2892 Add an example project for using RPC with Netty and Scala 3
  examples/rpc-examples/hello-rpc/README.md
  examples/rpc-examples/hello-rpc/api/src/main/scala/greeter/api/GreeterApi.scala
  examples/rpc-examples/hello-rpc/build.sbt
  examples/rpc-examples/hello-rpc/src/main/scala/greeter/GreeterMain.scala
Labels: doc, feature

#2894 airframe-http: Check the completion of Promise in JSHttpClientChannel #2893
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientChannel.scala
Labels: bug

#2895 airspec: Add a safe-guard for unexpected failures
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTask.scala
Labels: feature

#2896 airframe-http: Move RxRouter under wvlet.airframe.http
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/http/Greeter.scala
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/netty/RPCNetty.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpClientIR.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpCodeGenerator.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/RouteScanner.scala
  airframe-http-codegen/src/test/scala/example/nested/v1/MyApi.scala
  airframe-http-codegen/src/test/scala/example/nested/v2/MyApi.scala
  airframe-http-codegen/src/test/scala/example/rpc/RPCTestService.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/RPCClientGeneratorTest.scala
  airframe-http-codegen/src/test/scala/wvlet/airframe/http/codegen/RxRouterProviderTest.scala
  airframe-http-finagle/src/main/scala/wvlet/airframe/http/finagle/FinagleServer.scala
  airframe-http-grpc/src/main/scala/wvlet/airframe/http/grpc/GrpcServer.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRPCServerTest.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxFilterTest.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyRxRPCServerTest.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/RPCClientBindingTest.scala
  airframe-http-okhttp/src/test/scala/wvlet/airframe/http/okhttp/OkHttpClientTest.scala
  airframe-http-recorder/src/main/scala/wvlet/airframe/http/recorder/HttpRecorderServer.scala
  airframe-http/.jvm/src/main/scala-2/wvlet/airframe/http/router/RouterBase.scala
  airframe-http/.jvm/src/main/scala-3/wvlet/airframe/http/router/RouterBase.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/Router.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/router/RxRouterConverterTest.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/RxRouterMacros.scala
  airframe-http/src/main/scala-2/wvlet/airframe/http/RxRouterObjectBase.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/RxRouterBase.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxRouter.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RxRouterProvider.scala
  airframe-http/src/main/scala/wvlet/airframe/http/router/RxRoute.scala
  airframe-http/src/test/scala/wvlet/airframe/http/RxRouterTest.scala
  airframe-http/src/test/scala/wvlet/airframe/http/router/CustomEndpointTest.scala
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/api/src/main/scala/example/api/GreeterApi.scala
  sbt-airframe/src/sbt-test/sbt-airframe/grpc/server/src/test/scala/example/api/GreeterApiTest.scala
  sbt-airframe/src/sbt-test/sbt-airframe/js-client/spi/src/main/scala/myspp/spi/MyService.scala
  sbt-airframe/src/sbt-test/sbt-airframe/openapi/src/main/scala/example/api/RPCExample.scala
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-finagle/api/src/main/scala/example/api/MyRPCApi.scala
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-finagle/server/src/test/scala/example/MyRPCTest.scala
  sbt-airframe/src/sbt-test/sbt-airframe/rpc-netty/api/src/main/scala/example/api/MyRPCApi.scala
  sbt-airframe/src/test/scala/example/MyService.scala
Labels: breaking

#2899 Fix the RPC example [ci skip]
  examples/rpc-examples/hello-rpc/api/src/main/scala/greeter/api/GreeterApi.scala
  examples/rpc-examples/hello-rpc/src/main/scala/greeter/GreeterMain.scala
Labels: internal

#2900 airframe-http: Fixes #2902 Evaluate onclick -> Rx return values
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/OnClickTest.scala
  examples/rpc-examples/rpc-scalajs/README.md
  examples/rpc-examples/rpc-scalajs/api/src/main/scala/example/api/HelloApi.scala
  examples/rpc-examples/rpc-scalajs/build.sbt
  examples/rpc-examples/rpc-scalajs/server/src/main/scala/example/server/HelloApiImpl.scala
  examples/rpc-examples/rpc-scalajs/server/src/main/scala/example/server/ServerApi.scala
  examples/rpc-examples/rpc-scalajs/server/src/main/scala/example/server/ServerMain.scala
  examples/rpc-examples/rpc-scalajs/ui/public/index.html
  examples/rpc-examples/rpc-scalajs/ui/src/main/scala/example/ui/ExampleUI.scala
  examples/rpc-examples/rpc-scalajs/ui/src/main/scala/example/ui/RPCService.scala
Labels: bug, doc

#2906 airframe-http (internal): Fix flaky JS http client tests
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientChannel.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSHttpAsyncClientTest.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSRPCClientTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaHttpClientBackend.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaHttpClientChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/ClientFilter.scala
Labels: internal
