Repository wvlet/airframe, pull requests merged in 2023-07, with the labels that each got.

#3044 rx-html (feature): Add RxElement.onMount event hook
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/HtmlNodeBase.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/HtmlRenderingTest.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/OnClickTest.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RxRenderingTest.scala
  airframe-rx-html/.jvm/src/main/scala/wvlet/airframe/rx/html/HtmlNodeBase.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/HtmlNode.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/RxElement.scala
  airframe-rx-widget/src/test/scala/wvlet/airframe/http/rx/widget/RxWidgetTest.scala
Labels: feature

#3045 rx-html (fix): Properly cancel DOM elements when Rx.filter condition changes
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RxRenderingTest.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/HtmlNode.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/TagsExtra.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/package.scala
  airframe-rx-html/src/test/scala/wvlet/airframe/rx/html/HtmlTest.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Cancelable.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/main/scala/wvlet/airframe/rx/RxRunner.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
Labels: bug

#3050 airspec (feature): scala-cli test support
  airspec/.jvm/src/main/scala/wvlet/airspec/Compat.scala
  docs/airspec.md
Labels: doc, feature

#3057 airframe-sql: Resolve columns from CTE inside AliasedRelation
  airframe-parquet/src/main/scala/wvlet/airframe/parquet/ParquetQueryPlanner.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/SQLAnonymizer.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/ResolvedPlan.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/ResolveAggregationTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/SQLAnalyzerTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/ExpressionTest.scala
Labels: bug, breaking

#3061 airframe-sql: Remove unnecessary condition from AllColumns resolution
  airframe-sql/src/main/scala/wvlet/airframe/sql/analyzer/TypeResolver.scala
Labels: internal

#3066 Run sbt-integration CI when scalafmt is upgraded
  .github/workflows/sbt-integration.yml
Labels: internal

#3068 airframe-sql: Support cascaded set operations
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/LogicalPlan.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/analyzer/TypeResolverTest.scala
Labels: bug

#3075 rx-html (feature): Support datalist tag
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/Tags.scala
  airframe-rx-html/src/test/scala/wvlet/airframe/rx/html/HtmlTest.scala
Labels: feature

#3076 rx-html (feature): Reduce tag/attr name conflicts with SVG
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/Attrs.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/SvgAttrs.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/SvgTags.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/Tags.scala
  airframe-rx-html/src/main/scala/wvlet/airframe/rx/html/package.scala
  airframe-rx-html/src/test/scala/wvlet/airframe/rx/html/HtmlTest.scala
Labels: bug, feature
