Repository wvlet/airframe, pull requests merged in 2024-12, with the labels that each got.

#3744 sql (fix): Support POSITION
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug, feature

#3749 lancher (fix): Propagate the cause of an exception
  airframe-launcher/src/main/scala/wvlet/airframe/launcher/Launcher.scala
Labels: bug

#3750 log (fix #3728): Respect the log level of the target logger in Scala Native
  airframe-log/.native/src/main/scala/java/util/logging/Logger.scala
Labels: bug

#3751 internal: Fix slack notification workflow
  .github/workflows/snapshot.yml
Labels: bug, internal

#3753 internal: Fix the first Slack message before snapshot release
  .github/workflows/snapshot.yml
Labels: bug, internal

#3761 http (fix): Fix a bug in HttpMultiMap.add() when more than 3 values are added with the same key
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMultiMap.scala
Labels: bug
