Repository wvlet/airframe, pull requests merged in 2024-05, with the labels that each got.

#3521 surface (fix): Fixed a bug in getting a surface of inner opaque type
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala-3/wvlet/airframe/surface/Scala3NewTypeTest.scala
Labels: bug

#3526 codec (fix): Fix JDBCCodec.toMessgePack to report an array of table row objects
  airframe-codec/.jvm/src/main/scala/wvlet/airframe/codec/JDBCCodec.scala
  airframe-codec/.jvm/src/test/scala/wvlet/airframe/codec/JDBCCodecTest.scala
Labels: bug

#3527 ulid (feature, native): Use a secure random for ULID generation in Scala Native
  airframe-ulid/.native/src/main/scala-3/wvlet/airframe/ulid/NativeSecureRandom.scala
  airframe-ulid/.native/src/main/scala-3/wvlet/airframe/ulid/compat.scala
Labels: feature

#3528 airspec (fix): Fixes #3523 and #3516 to properly set and reset log levels with -l,-L options
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecSbtRunner.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTaskRunner.scala
Labels: bug

#3541 http (feature): .withExtraLogEntries(() => Map[String, Any]) for add custom logs
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyLoggingTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpLogger.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCContext.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientConfig.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/RPCResponseFilter.scala
Labels: feature

#3542 http (doc): Update airframe-http manual for using Netty backend
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyLoggingTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpLogger.scala
  docs/airframe-http.md
Labels: doc

#3543 http (doc): Update airframe-http doc for Netty
  docs/airframe-http.md
Labels: doc

#3544 doc: Update front page
  docs/airframe-di.md
  docs/airframe-rx.md
  docs/comparison.md
  docs/index.md
  website/pages/en/index.js
Labels: doc
