Repository wvlet/airframe, pull requests merged in 2024-09, with the labels that each got.

#3623 Fix macros under Scala 3.6 change to context bounds
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
Labels: bug

#3630 airspec (fix): Fixes #3612 to select test case names containing slash
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecContextImpl.scala
  airspec/src/test/scala/wvlet/airspec/runner/AirSpecMatcherTest.scala
Labels: bug

#3631 airspec (deprecated): Require a space in -L (pattern)=(loglevel) option
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecSbtRunner.scala
  docs/airspec.md
Labels: doc, deprecation

#3648 Upgrade logback-core to 1.5.8
  airframe-log/.jvm/src/main/scala/wvlet/log/LogRotationHandler.scala
  airspec/build.sbt
  build.sbt
Labels: library-update

#3654 netty (fix): Fixed missing rpc_method, rpc_args log entries
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyBackend.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyRPCContext.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyRequestHandler.scala
  airframe-http-netty/src/test/scala/wvlet/airframe/http/netty/NettyLoggingTest.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/internal/TLSSupport.scala
  airframe-http/src/main/scala/wvlet/airframe/http/RPCContext.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/RPCResponseFilter.scala
Labels: bug

#3669 surface (fix): Fix opaque type reference for Scala 3.3.4
  airframe-di/src/test/scala/wvlet/airframe/di/PathDependentTypeTest.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala-3/wvlet/airframe/surface/PathDependentTypeTest.scala
  airspec/build.sbt
  build.sbt
Labels: bug

#3590 internal: Add Scala 3.5.x CI test
  .github/workflows/test.yml
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/router/RouteMatcher.scala
  airframe-surface/src/test/scala-3/wvlet/airframe/surface/PathDependentTypeTest.scala
  airspec/build.sbt
  build.sbt
Labels: internal
