Repository wvlet/airframe, pull requests merged in 2024-03, with the labels that each got.

#3442 internal: Stick to Scala 3.3.x versions for Scala Steward
  .scala-steward.conf
Labels: internal

#3464 surface (breaking): Fixes #3462 Deprecate unstable Reflect/TastySurfaceFactory for Scala 3
  airframe-codec/.jvm/src/main/scala-3/wvlet/airframe/codec/CompatBase.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/HttpCodeGenerator.scala
  airframe-http-codegen/src/main/scala/wvlet/airframe/http/codegen/RouteScanner.scala
  airframe-launcher/src/main/scala-3/wvlet/airframe/launcher/LauncherCompat.scala
  airframe-launcher/src/main/scala/wvlet/airframe/launcher/Launcher.scala
  airframe-launcher/src/main/scala/wvlet/airframe/launcher/OptionParser.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/reflect/ReflectSurfaceFactory.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/reflect/TastySurfaceFactory.scala
  airframe-surface/.jvm/src/test/scala-3/wvlet/airframe/surface/reflect/TastySurfaceFactoryTest.scala
  airspec/build.sbt
  build.sbt
Labels: bug, deprecation

#3466 surface (internal): Use .typeMember instead of .tree to get parameter types
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/i3417.scala
Labels: internal

#3455 surface: Fix #3454 - methods in generic classes - for Scala 3
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala-3/wvlet/airframe/surface/GenericMethodTest.scala
Labels: bug
