Repository wvlet/airframe, pull requests merged in 2024-04, with the labels that each got.

#3474 Surface internal - Fix tree owner in `surfaceDefs` `ValDef`
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
Labels: bug, internal

#3476 rx-html (fix): Show warning logs when RxElement rendering failed
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RenderErrorTest.scala
Labels: bug

#3477 rx-html (fix): Localize exceptions while rendering a sequence of RxElements
  airframe-rx-html/.js/src/main/scala/wvlet/airframe/rx/html/DOMRenderer.scala
  airframe-rx-html/.js/src/test/scala/wvlet/airframe/http/rx/html/RenderErrorTest.scala
Labels: bug

#3478 http (feature): Fallback to Java8 compatible URLConnectionChannel if Java's HttpClient is unavailable
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaHttpClientBackend.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/URLConnectionChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/URLConnectionClientBackend.scala
Labels: feature

#3479 http (feature): Request.withDest(ServerAddrress) to switch the destination host in http client
  airframe-benchmark/src/main/scala/wvlet/airframe/benchmark/rpc_request/RPCRequestBenchmark.scala
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpChannel.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSFetchChannel.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaHttpClientChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/URLConnectionChannel.scala
  airframe-http/.jvm/src/test/scala/wvlet/airframe/http/client/HttpClientLoggingFilterTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/HttpMessage.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/AsyncClient.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientConfig.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/SyncClient.scala
  airframe-http/src/main/scala/wvlet/airframe/http/internal/HttpLogs.scala
  airframe-http/src/test/scala/wvlet/airframe/http/client/HttpClientFilterTest.scala
Labels: feature

#3483 airspec (internal): Prepare for Scala Native 0.5 support
  airframe-di/.native/src/main/scala-3/wvlet/airframe/lifecycle/AddShutdownHook.scala
  airframe-di/.native/src/main/scala-3/wvlet/airframe/lifecycle/JSR250LifeCycleExecutor.scala
  airframe-log/.native/src/main/scala/wvlet/log/LogEnv.scala
  airframe-log/.native/src/main/scala/wvlet/log/LogTimestampFormatter.scala
  airframe-rx/.native/src/main/scala-3/wvlet/airframe/rx/compat.scala
  airframe-surface/.native/src/main/scala-3/wvlet/airframe/surface/SurfaceFactory.scala
  airframe-surface/.native/src/main/scala-3/wvlet/airframe/surface/surface.scala
  airframe-surface/src/main/scala/wvlet/airframe/surface/CName.scala
  airspec/.native/src/main/scala-3/wvlet/airspec/Compat.scala
  airspec/.native/src/main/scala-3/wvlet/airspec/PlatformAirSpec.scala
  airspec/build.sbt
  airspec/project/plugin.sbt
  project/plugin.sbt
Labels: feature

#3493 sql (fix): Quote digit QName parts to generate valid SQL
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/test/resources/wvlet/airframe/sql/standard/queries.yml
Labels: bug

#3494 airspec (feature): Scala Native 0.5 support (Scala 3 only)
  .github/workflows/release-airspec.yml
  .github/workflows/test.yml
  airframe-log/.js/src/main/scala/wvlet/log/LogTimestampFormatter.scala
  airframe-log/.native/src/main/scala-3/java/util/logging/Level.scala
  airframe-log/.native/src/main/scala-3/java/util/logging/Logger.scala
  airframe-log/.native/src/main/scala-3/wvlet/log/LogEnv.scala
  airframe-log/.native/src/main/scala-3/wvlet/log/LogTimestampFormatter.scala
  airframe-log/.native/src/main/scala/wvlet/log/LogTimestampFormatter.scala
  airframe-log/src/main/scala/wvlet/log/LogFormat.scala
  airframe-log/src/main/scala/wvlet/log/LogRecord.scala
  airframe-log/src/main/scala/wvlet/log/Logger.scala
  airspec/.js/src/main/scala/wvlet/airspec/Compat.scala
  airspec/.jvm/src/main/scala/wvlet/airspec/Compat.scala
  airspec/.native/src/main/scala-3/wvlet/airspec/Compat.scala
  airspec/build.sbt
  airspec/src/main/scala/wvlet/airspec/AirSpec.scala
  airspec/src/main/scala/wvlet/airspec/CompatApi.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecLogger.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecSbtRunner.scala
  airspec/src/main/scala/wvlet/airspec/runner/AirSpecTask.scala
  airspec/src/test/scala/examples/RxTest.scala
Labels: feature

#3499 log (feature): Scala Native support
  .github/workflows/release-native.yml
  .github/workflows/test.yml
  airframe-log/.native/src/main/scala-3/java/util/logging/Level.scala
  airframe-log/.native/src/main/scala-3/java/util/logging/Logger.scala
  airframe-log/.native/src/main/scala/java/util/logging/Level.scala
  airframe-log/.native/src/main/scala/java/util/logging/Logger.scala
  airframe-log/.native/src/main/scala/wvlet/log/LogEnv.scala
  airframe-log/.native/src/main/scala/wvlet/log/LogTimestampFormatter.scala
  airframe-log/src/test/scala/wvlet/log/LoggerTest.scala
  build.sbt
  project/plugin.sbt
Labels: feature

#3500 log (fix): Add missing Z for UTC-0 timestamp for Scala Native
  airframe-log/.native/src/main/scala/wvlet/log/LogTimestampFormatter.scala
Labels: bug

#3501 surface (feature): Scala Native support
  airframe-surface/.jvm/src/test/scala/wvlet/airframe/surface/AbstractTypeTest.scala
  airframe-surface/.jvm/src/test/scala/wvlet/airframe/surface/InnerClassTest.scala
  airframe-surface/.jvm/src/test/scala/wvlet/airframe/surface/reflect/NamedParameterTest.scala
  airframe-surface/.jvm/src/test/scala/wvlet/airframe/surface/reflect/RuntimeSurfaceTest.scala
  airframe-surface/.native/src/main/scala-3/wvlet/airframe/surface/surface.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/AirSpecBridge.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/AliasSurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/CNameTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/EnumTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/MethodSurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/ParamTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/QuoteParamTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/RecordSurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/RecursiveHigherKindTypeTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/RecursiveMethodParamTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/RecursiveSurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/RequiredParamTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/SecretParamTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/SurfaceSpec.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/SurfaceTest.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/ZeroTest.scala
  build.sbt
Labels: feature

#3502 di (feature): Scala Native support
  airframe-di/.native/src/main/scala-3/wvlet/airframe/lifecycle/AddShutdownHook.scala
  build.sbt
Labels: feature

#3503 metrics (feature): Support Scala Native
  build.sbt
Labels: feature

#3504 ulid (feature): Support Scala Native
  airframe-ulid/.native/src/main/scala-3/wvlet/airframe/ulid/compat.scala
  build.sbt
Labels: feature

#3505 json, msgpack (feature): Scala Native support
  airframe-msgpack/.native/src/main/scala-3/wvlet/airframe/msgpack/Compat.scala
  build.sbt
Labels: feature

#3506 rx (feature): Support Scala Native
  airframe-rx/.native/src/main/scala-3/wvlet/airframe/rx/RxBlockingQueue.scala
  airframe-rx/.native/src/main/scala-3/wvlet/airframe/rx/compat.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/IntervalTest.scala
  build.sbt
Labels: feature

#3509 doc: Note about Scala Native support
  docs/airframe-di.md
  docs/airframe-log.md
  docs/airframe-rx.md
  docs/airspec.md
  docs/index.md
Labels: doc, feature

#3511 di (fix, native): Fix missing airframe-di-macros dependency in Scala Native
  build.sbt
Labels: bug
