Repository wvlet/airframe, pull requests merged in 2024-02, with the labels that each got.

#3370 http (feature): Add an option to use Fetch API for JSHttpClient
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSFetchChannel.scala
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientBackend.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSHttpAsyncClientTest.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientConfig.scala
  build.sbt
  scripts/setup-scalajs.sh
Labels: feature

#3373 http (internal): Optimization for text responses of Fetch API
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSFetchChannel.scala
Labels: internal

#3379 rx (feature): Enable to call Rx.run(), subscribe() without argument
  airframe-rx/src/main/scala/wvlet/airframe/rx/Rx.scala
  airframe-rx/src/test/scala/wvlet/airframe/rx/RxTest.scala
Labels: feature

#3382 netty (fix): Ensure fully reading the request body
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyRequestHandler.scala
Labels: bug

#3383 http.js (fix): Use Fetch API only when it's available
  airframe-http/.js/src/main/scala/wvlet/airframe/http/client/JSHttpClientBackend.scala
  airframe-http/.js/src/test/scala/wvlet/airframe/http/client/JSHttpAsyncClientTest.scala
Labels: bug

#3385 sbt-airframe (internal): Fixes #3377. Remove the usage of the deprecated getNextTarEntry
  sbt-airframe/src/main/scala/wvlet/airframe/sbt/http/AirframeHttpPlugin.scala
Labels: bug, internal, deprecation

#3386 netty (internal): Enable AUTO_READ/AUTO_CLOSE
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
Labels: internal

#3387 netty (fix): Support reading up to 64kb HTTP header
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
Labels: bug, feature

#3388 netty (internal): Enable header validation as before
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
Labels: internal

#3389 netty (internal): Tuning server options and memory usage improvement
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyRequestHandler.scala
  airframe-http-netty/src/main/scala/wvlet/airframe/http/netty/NettyServer.scala
Labels: internal

#3391 internal: Add http.js + playwright integation tests
  .github/workflows/test.yml
  airframe-integration-test-js/src/test/scala-3/wvlet/airframe/test/FetchTest.scala
  build.sbt
  project/plugin.sbt
Labels: internal

#3396 http (feature): Support enforcing HTTP/1.1 in Http.client
  airframe-http-okhttp/src/main/scala/wvlet/airframe/http/okhttp/OkHttpChannel.scala
  airframe-http/.jvm/src/main/scala/wvlet/airframe/http/client/JavaHttpClientChannel.scala
  airframe-http/src/main/scala/wvlet/airframe/http/client/HttpClientConfig.scala
  airframe-integration-test/src/main/scala/wvlet/airframe/test/api/HelloRPCImpl.scala
  airframe-integration-test/src/test/scala-3/wvlet/airframe/test/api/HelloRPCTest.scala
  airframe-integration-test/src/test/scala-3/wvlet/airframe/test/api/Http1Test.scala
Labels: feature

#3397 internal: Remove optional braces for Scala 3 code
  .scalafmt.conf
  airframe-codec/.jvm/src/main/scala-3/wvlet/airframe/codec/CompatBase.scala
  airframe-codec/src/main/scala-3/wvlet/airframe/codec/AnyCodecCompat.scala
  airframe-codec/src/main/scala-3/wvlet/airframe/codec/ScalaCompat.scala
  airframe-config/src/main/scala-3/wvlet/airframe/config/ConfigCompat.scala
  airframe-di-macros/src/main/scala-3/wvlet/airframe/SourceCode.scala
  airframe-di/src/main/scala-3/wvlet/airframe/AirframeSessionImpl.scala
  airframe-di/src/main/scala-3/wvlet/airframe/BinderImpl.scala
  airframe-di/src/main/scala-3/wvlet/airframe/DesignImpl.scala
  airframe-di/src/main/scala-3/wvlet/airframe/SessionImpl.scala
  airframe-di/src/main/scala-3/wvlet/airframe/package.scala
  airframe-di/src/test/scala-3/wvlet/airframe/di/DI3Test.scala
  airframe-di/src/test/scala-3/wvlet/airframe/di/TraitFactoryTest.scala
  airframe-fluentd/src/main/scala-3/wvlet/airframe/fluentd/MetricLoggerFactoryCompat.scala
  airframe-http/.jvm/src/main/scala-3/wvlet/airframe/http/router/RouterBase.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/HttpMessageBase.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/HttpServerExceptionBase.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/RxRouterBase.scala
  airframe-http/src/main/scala-3/wvlet/airframe/http/client/HttpClientCompat.scala
  airframe-integration-test-api/src/main/scala-3/wvlet/airframe/test/api/HelloRPC.scala
  airframe-integration-test/src/main/scala-3/wvlet/airframe/test/api/HelloRPCImpl.scala
  airframe-integration-test/src/test/scala-3/wvlet/airframe/test/api/HelloRPCTest.scala
  airframe-integration-test/src/test/scala-3/wvlet/airframe/test/api/Http1Test.scala
  airframe-jmx/src/main/scala-3/wvlet/airframe/jmx/JMXCompat.scala
  airframe-launcher/src/main/scala-3/wvlet/airframe/launcher/LauncherCompat.scala
  airframe-log/src/main/scala-3/wvlet/log/LoggerBase.scala
  airframe-parquet/src/main/scala-3/wvlet/airframe/parquet/ParquetCompat.scala
  airframe-rx-html/src/main/scala-3/wvlet/airframe/rx/html/HtmlCompat.scala
  airframe-rx-html/src/main/scala-3/wvlet/airframe/rx/html/common.scala
  airframe-surface/.js/src/main/scala-3/wvlet/airframe/surface/SurfaceFactory.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/package.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/reflect/ReflectSurfaceFactory.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/reflect/RuntimeSurface.scala
  airframe-surface/.jvm/src/main/scala-3/wvlet/airframe/surface/reflect/TastySurfaceFactory.scala
  airframe-surface/.jvm/src/test/scala-3/wvlet/airframe/surface/AirSpecBridgeCompat.scala
  airframe-surface/.jvm/src/test/scala-3/wvlet/airframe/surface/reflect/TastySurfaceFactoryTest.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/Surface.scala
  airframe-surface/src/test/scala-3/wvlet/airframe/surface/Scala3NewTypeTest.scala
  build.sbt
Labels: internal

#3399 internal: Use fetch-depth: 0 for action/checkout
  .github/workflows/package-test.yml
  .github/workflows/release-airspec.yml
  .github/workflows/release-js.yml
  .github/workflows/release-sbt-plugin.yml
  .github/workflows/release.yml
  .github/workflows/sbt-integration.yml
  .github/workflows/snapshot.yml
Labels: internal

#3405 surface (fix): Fixes #3353 in building surfaces of classes with type params in Scala3
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala-3/wvlet/airframe/surface/i3363.scala
Labels: bug

#3407 surface (fix): Fixes #3356 for case classes with private/protected fields
  airframe-surface/src/main/scala-2/wvlet/airframe/surface/SurfaceMacros.scala
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/i3356.scala
Labels: bug

#3422 http (fix): Fixes #3421 Retry upon GOAWAY message from HTTP/2 servers
  airframe-http/src/main/scala/wvlet/airframe/http/HttpClientException.scala
Labels: bug

#3423 surface (fix): Fix #3416 and #3419 - protected and package private access
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/i3416.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/i3419.scala
Labels: bug

#3427 surface (fix): Fixes #3418 Handle surface of List of generic tuples
  airframe-surface/src/main/scala-3/wvlet/airframe/surface/CompileTimeSurfaceFactory.scala
  airframe-surface/src/test/scala/wvlet/airframe/surface/i3418.scala
Labels: bug
