Repository wvlet/airframe, pull requests merged in 2025-05, with the labels that each got.

#3922 sql (fix): Support negative numeric literal
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/SQLExprTest.scala
Labels: bug, feature

#3921 sql (fix): Support special date and time functions
  airframe-sql/src/main/scala/wvlet/airframe/sql/model/Expression.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLInterpreter.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/model/SQLExprTest.scala
Labels: bug, feature

#3939 feature: Refine copilot-instructions.md and add PR template
  .github/copilot-instructions.md
  .github/instructions/airspec.instructions.md
  .github/pull_request_template.md
Labels: doc, feature

#3929 sql (fix): Fix SQL generation for POSITION IN subquery
  airframe-sql/src/main/scala/wvlet/airframe/sql/parser/SQLGenerator.scala
  airframe-sql/src/test/scala/wvlet/airframe/sql/parser/SQLGeneratorTest.scala
Labels: bug
